<!-------------------------------------------------INCLUYENDO HEAD Y HEADER------------------------------>

<%- include('../parcials/head') %>




  <main class="grid">

    <div class="row">

      <!------------------------------------- DATOS DEL PRODUCTO SELECCIONADO--------------------------------->


      <div class='lista-productos  col-xs-12  col-md-4 col-lg-6'>
        <div class="container grid item">
          <div class="row">
            <div class='col-md md-border-end-md'>
              <div class="col-sm border-bottom">
                <h3>
                  <%=vehicle.name%>
                </h3>
                <img src="/img/img-autos/<%=vehicle.picture%>" alt="">
              </div>
              <div class="col-sm">
                <ul>
                  CARACTERISTICAS
                  <li><i class="fas fa-check-circle"></i>
                    <%= vehicle.seat_number%> asientos
                  </li>
                  <li><i class="fas fa-check-circle"></i>
                    <%if(vehicle.transmission=1) { %> automático <% } else { %> manual <%}%>
                  </li>
                  <li><i class="fas fa-check-circle"></i>
                    <%=vehicle.fuel.name%>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-md reserva-derecha">
              <div>
                $<%= vehicle.pricexday%>/dia
              </div>
              <div>
                <ul>
                  ADICIONALES
                  <%if(vehicle.features !=null) %>
                    <%for(j of vehicle.features) {%>
                      <li>
                        <%=j.name%>
                      </li>
                      <%}%>
                        <li>kilometraje <%=i.mileage%>
                        </li>
                </ul>

              </div>

            </div>

          </div>


          <div class="order-md-last">


            <!-----------------------------------EXTRAS---------------------------------------------->

            <form action="/product/booking" method="post" class="booking">
            <ul class="list-group mb-3">

              <li class="list-group-item d-flex justify-content-between lh-sm">
                <span>ADICIONALES</span>
                <%for(i of additionals) {%>
              <li class=" additionals list-group-item d-flex justify-content-between lh-sm">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="<%=i.id%>" id="features" name='features'>
                  <label class="form-check-label" for="features">
                    <%=i.name%>
                  </label>
                </div>
                <span class=" text-muted precio">$<%=i.price%> </span>
              </li>
              <%}%>
                </li>


                <li class="list-group-item d-flex justify-content-between lh-sm">
                  <span>SEGURO</span>
                  <%for(i of insurances) {%>
                <li class="list-group-item d-flex justify-content-between lh-sm seguro">
                  <div>
                    <input id="seguro" name="seguro" type="radio" class="form-check-input" value="<%=i.id%>" required>
                    <label class="seguro" for="credit">
                      <h6 class="my-0">
                        <%=i.name%>
                      </h6>
                    </label>
                  </div>
                  <span class="text-muted">$<%=i.pricexday%></span>
                </li>
                <%}%>
                  </li>
            </ul>
            
            <button type="submit" class="btn">Reservar</button>
            </form>
          </div>

        </div>


      </div>


      <!----------------------------- RESUMEN DEL PEDIDO-------------------------------->

      <div class="col-xs-12 col-md-4 col-lg-6  resumen-pedido">
        <div class="order-md-last">

          <h4 class="d-flex justify-content-between align-items-center mb-3">
            <span class="text-primary">Reserva del <%=dato.pickup_date%> al <%=dato.dropoff_date%></span>
          </h4>
          <h4 class="d-flex justify-content-between align-items-center mb-3">
            <span class="text-primary">TOTAL A PAGAR</span>
            <span class="badge bg-primary rounded-pill">$</span>
          </h4>

          <form action="/product/booking" method="post" class="booking">
            <ul class="list-group mb-3">
              <li class="list-group-item d-flex justify-content-between lh-sm">
                <div>
                  <h6 class="my-0">Precio por dia</h6>
                </div>
                <span class="text-muted precioxdia" value="<%=vehicle.pricexday%>">$<%=vehicle.pricexday%></span>
              </li>
              <li class="list-group-item d-flex justify-content-between lh-sm">
                <div>
                  <h6 class="my-0">Alquiler por <%=dato.dias%> dias</h6>
                  <small class="text-muted">Sin/Desc.</small>
                </div>
                <span id="precioTotal" class="text-muted">$<%=dato.precioTotal%></span>
              </li>

              <li class=" additionals list-group-item d-flex justify-content-between lh-sm">
                <span>ADICIONALES</span>
                <span class=" text-muted" id="additional">$</span>
              </li>

              <li class=" additionals list-group-item d-flex justify-content-between lh-sm">
                <span>SEGURO</span>
                <span id="seguro" class=" text-muted precio">$</span>
              </li>
              <%if(locals.user && locals.user.promo_code !='NULL' ) {%>
              <li class="list-group-item d-flex justify-content-between bg-light">
                
                  <div class="text-success">
                    <h6 class="my-0">Codigo de Promocion</h6>
                    <small>
                      <%=locals.user.promo_code%>
                    </small>
                  </div>
                  <span class="text-success">-$2.000</span>
                  
              </li>
              <%}%>
              <li class="list-group-item d-flex justify-content-between">
                <span>Total (Pesos $)</span>
                <strong id='total'>
                  <%=dato.precioTotal%>
                </strong>
              </li>
            </ul>
            <button type="submit" class="btn">Reservar</button>
          </form>
        </div>

      </div>



    </div>

  </main>


  <script src="/js/booking_style.js"></script>


  <!-------------------------------------------------INCLUYENDO FOOTER------------------------------>

  <%- include('../parcials/footer') %>