<!-------------------------------------------------INCLUYENDO HEAD Y HEADER------------------------------>

<%- include('../parcials/head')  %>
  

  <div class="filtro">
    <div>
      <div class="container"><h1>Entrega:Cordoba</h1></div>
      <div class="container"><h1>07/03 10:00</h1></div>
    </div>
    <i class="fas fa-arrow-right"></i>
    <div>
      <div class="container"><h1>Devolucion:Cordoba</h1></div>
      <div class="container"><h1>07/03 10:00 </h1></div>
    </div>

  </div>

  <main>
    <div class="dos-forms">
      <form action='product-listing' method="get" class='formulario registro busqueda tamanio'>
        <div>
          <h4 class='titulo'>NUEVA BUSQUEDA</h4>
        </div>
        <div class='alinear'>
          <div class="mb-1 ancho-hijos">
            <select class="form-select" aria-label="Default select example">
              <option selected>Ciudad retiro</option>
              <option value="1">Buenos Aires</option>
              <option value="2">Córdoba</option>
              <option value="3">Bogota</option>
            </select>
          </div>
          <div class="mb-1 ancho-hijos">
            <select class="form-select" aria-label="Default select example">
              <option selected>Ciudad devolución</option>
              <option value="1">Buenos Aires</option>
              <option value="2">Córdoba</option>
              <option value="3">Bogota</option>
            </select>
          </div>
        </div>
        <div class='alinear'>
          <div class="mb-1 ancho-hijos">
            <label for="fecha-recogida"></label>Fecha de entrega
            <input type="date" class="form-control" id="fecha-recogida">
          </div>
          <div class="mb-1 ancho-hijos">
            <label for="hora-recogida"></label>Hora entrega
            <select id='hora-recogida' class="form-select" aria-label="Default select example">
              <option value="1">10:00</option>
              <option value="2">11:00</option>
              <option value="3">12:00</option>
              <option value="4">13:00</option>
              <option value="5">14:00</option>
              <option value="6">15:00</option>
              <option value="7">16:00</option>
              <option value="8">17:00</option>
              <option value="9">18:00</option>
              <option value="10">19:00</option>
              <option value="12">20:00</option>
              <option value="12">21:00</option>
            </select>
          </div>
        </div>
        <div class='alinear'>
          <div class="mb-1 ancho-hijos">
            <label for="fecha-devolucion"></label>Fecha devolución
            <input type="date" class="form-control fechas" id="fecha-devolución">
          </div>
          <div class="mb-1 ancho-hijos">
            <label for="hora-devolución"></label>Hora devolución
            <select id='hora-devolución' class="form-select" aria-label="Default select example">
              <option value="1">10:00</option>
              <option value="2">11:00</option>
              <option value="3">12:00</option>
              <option value="4">13:00</option>
              <option value="5">14:00</option>
              <option value="6">15:00</option>
              <option value="7">16:00</option>
              <option value="8">17:00</option>
              <option value="9">18:00</option>
              <option value="10">19:00</option>
              <option value="12">20:00</option>
              <option value="12">21:00</option>
            </select>
          </div>
        </div>
  
  
        <div class='registro boton'>
          <button type="submit" class="btn">Enviar</button>
        </div>
      </form>
  
      <form action='product-listing' method="get" class='formulario registro busqueda tamanio precio'>
        <div class="slidecontainer">
          <label for="myRange"></label>FILTRAR POR PRECIO
          <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
        </div>
      </form>
      
    </div>

    


    


    <div class='lista-productos'>

      <% for(let i of productos) { %>
   
        <div class="container grid item">
          <div class="row">
            <div class='col-md border-end'>
              <div class="col-sm border-bottom">
                <h3><%= i.nombre%></h3>
                <img src="/img/img-autos/<%=i.imagen%> " alt="">
              </div>
              <div class="col-sm">
                <ul>
                  <li><i class="fas fa-check-circle"></i><%= i.cantidadAsientos%> asientos</li>
                  <li><i class="fas fa-check-circle"></i><%=i.cajaDeCambio%></li>
                  <li><i class="fas fa-check-circle"></i><%=i.combustible%></li>
                  <% if(i.airbag == 'S') { %>
                    <li><i class="fas fa-check-circle"></i>Airbag</li>
                  <% } %> 
                </ul>
              </div>
            </div>
            <div class="col-md reserva-derecha">
              <div>
                $<%= i.precioDia%>/dia
              </div>
              <div>
                <ul>
                  SEGUROS
                  <% for(let j of i.seguro) {%> 
                  <li><%=j%></li>                  
                  <%}%>
                </ul>
  
              </div>
              <div class="escondido">
                <ul>
                  ADICIONALES
                  <%if(typeof  i.adicionales == 'object') {%> 
                  <% for(let j of i.adicionales) {%> 
                  <li><%=j%></li>
                  <%}%>
                  <%} else { %>
                    <li><%=i.adicionales%> </li>
                  <%}%>   
                </ul>
  
              </div>
              <div>
                <button type="submit" class="btn reserva"><a href="../shopping-cart" class="btn">Reservar</a></button>
              </div>
              <div>
                <button type="submit" class="btn presupuesto"><i class="fa-solid fa-envelope"></i>Enviar presupuesto</button>
              </div>
  
            </div>
  
          </div>
  
        </div>
  
        <% } %>




    </div>


  </main>



<!-------------------------------------------------INCLUYENDO FOOTER------------------------------>

<%- include('../parcials/footer') %> 