<!-------------------------------------------------INCLUYENDO HEAD Y HEADER------------------------------>

<%- include('../parcials/head') %>


  <h1 class="titulo-lista">LISTA DE PRODUCTOS</h1>

  <div class='lista-productos listado'>

    <% for(let i of productos) { %>
   
      <div class="container grid item">
        <div class="row">
          <div class='col-md border-end'>
            <div class="col-sm border-bottom">
              <h3><%= i.nombre%></h3>
              <img src="/img/img-autos/<%=i.imagen%>" alt="">
            </div>
            <div class="col-sm">
              <ul>
                <li><i class="fas fa-check-circle"></i><%= i.cantidadAsientos%> asientos</li>
                <li><i class="fas fa-check-circle"></i><%=i.cajaDeCambio%></li>
                <li><i class="fas fa-check-circle"></i><%=i.combustible%></li>
                <% if(i.airbag == 'S') { %>
                  <li><i class="fas fa-check-circle"></i>Airbag</li>
                <% } %> 
              </ul>
            </div>
          </div>
          <div class="col-md reserva-derecha">
            <div>
              $<%= i.precioDia%>/dia
            </div>
            <div>
              <ul>
                SEGUROS
                <%if(typeof  i.seguro == 'object') {%> 
                  <% for(let j of i.seguro) {%> 
                  <li><%=j%></li>
                  <%}%>
                  <%} else { %>
                    <li><%=i.seguro%> </li>
                  <%}%>
              </ul>

            </div>
            <div class="escondido">
              <ul>
                ADICIONALES
                <%if(typeof  i.adicionales == 'object') {%> 
                <% for(let j of i.adicionales) {%> 
                <li><%=j%></li>
                <%}%>
                <%} else { %>
                  <li><%=i.adicionales%> </li>
                <%}%>   
              </ul>

            </div>
            <div>
              <button type="submit" class="btn reserva"><a href="/product/edit/<%=i.id%> " class="btn">Editar</a></button>
            </div>
            <div>
              <form  action="/product/delete/<%=i.id%>?_method=DELETE" method="POST">
                <button class="eliminar presupuesto" type="submit">Eliminar</button>  
              </form>
              
            </div>

          </div>

        </div>

      </div>

      <% } %>





  </div>


  </main>



  <!-------------------------------------------------INCLUYENDO FOOTER------------------------------>

  <%- include('../parcials/footer') %>