<!-------------------------------------------------INCLUYENDO HEAD Y HEADER------------------------------>

<%- include('../parcials/head') %>

  <main>

    <form class='formulario registro formulario-producto' action="/product/create" enctype="multipart/form-data" method="POST">
      <% if (locals && locals.errors) { %>
        <%for(i of errors) { %>
          <p class = 'error'> <%=i.msg %>  </p> 
        <% } %>
      <% } %>
      <div class="titulo-crear">
        <h1>CREAR PRODUCTO</h1>
      </div>
      <div class="mb-3">
        <input type="text" class="form-control" name="nombre" id="nombre" placeholder="Nombre de producto" value ="<%= locals.old && old.nombre %>" required>
      </div>
      <div class="mb-3">
        <input type="text" class="form-control" name="marca" id="marca" placeholder="Marca del producto"  value ="<%= locals.old && old.marca %>" required>
      </div>
      <div class="mb-3">
        <select class="form-select" name="categoria" id="categoria">
          <option selected>Categoria de vehiculo</option>
          <option>Compactos</option>
          <option>Medianos</option>
          <option>Premium</option>
          <option>Especiales</option>
        </select>
      </div>
      <div class="mb-3">
        <label for="image" class="form-label">Cargar imagenes:</label>
        <input class="form-control" type="file" name="imagen" id="imagen">
        <% if(typeof error !='undefined' ) { %>
          <p class='error'>
            <%=error%>
          </p>
          <% } %>
      </div>
      <div class="mb-3">
        <select class="form-select" name="cantidadAsientos" id="cantidadAsientos">
          <option>Cantidad de asientos</option>
          <option>Cuatro</option>
          <option>Cinco</option>
          <option>Seis</option>
          <option>Siete</option>
          <option>Ocho</option>
          <option>Nueve</option>
        </select>
      </div>
      <div class="mb-3">
        <select class="form-select" name="combustible" id="combustible">
          <option>Tipo de combustible</option>
          <option>Nafta</option>
          <option>Gasoil</option>
          <option>GNC</option>
          <option>Electrico</option>
        </select>
      </div>
      <div class="mb-3">
        <div class="form-check form-check-inline">
          <label for="cajaDeCambio">Caja de cambio</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="cajaDeCambio" id="cajaDeCambio" value="Manual">
          <label class="form-check-label" for="cajaDeCambio">Manual</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="cajaDeCambio" id="cajaDeCambio" value="Automatico">
          <label class="form-check-label" for="cajaDeCambio">Automático</label>
        </div>
      </div>
      <div class="mb-3">
        <div class="form-check form-check-inline">
          <label for="airbag">Airbag</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="airbag" id="airbag" value="S">
          <label class="form-check-label" for="inlineRadio1">Si</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="airbag" id="airbag" value="N">
          <label class="form-check-label" for="inlineRadio2">No</label>
        </div>
      </div>
      <div class="mb-3">
        <label for="adicionales">Adicionales</label> <br>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="AM/FM Stereo con CD" id="adicionales" name ='adicionales'>
            <label class="form-check-label" for="flexCheckDefault">
              AM/FM Stereo con CD
            </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="Bluetooth" id="adicionales" name = 'adicionales'>
            Bluetooth
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="Reproductor MP3" id="adicionales" name ='adicionales'>
            Reproductor MP3
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="Sistema de frenos ABS" id="adicionales" name ='adicionales'>
            Sistema de frenos ABS
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="Doble Airbag" id="adicionales" name="adicionales">
            Doble Airbag
        </div>
      </div>


      

      <div class="mb-3">
        <label for="seguro">Seguros</label> <br>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="Proteccion total" id="seguro" name ='seguro'>
            <label class="form-check-label" for="flexCheckDefault">
              Proteccion total
            </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="Proteccion a terceros" id="seguro" name = 'seguro'>
            Proteccion a terceros
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="Franquicia por accidente" id="seguro" name ='seguro'>
            Franquicia por accidente
        </div>
      </div>


      <div class="input-group mb-3">
        <span class="input-group-text">$</span>
        <input type="number" step="0.01" class="form-control" aria-label="Amount (to the nearest dollar)" name="precioDia" placeholder="precioxDia"  value ="<%= locals.old && old.precioDia%>" required>
        <span class="input-group-text">.00</span>
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text">$</span>
        <input type="number" step="0.01" class="form-control" aria-label="Amount (to the nearest dollar)"
          name="precioSemana" placeholder="precioxSemana"  value ="<%= locals.old && old.precioSemana%>" required>
        <span class="input-group-text">.00</span>
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text">$</span>
        <input type="number" step="0.01" class="form-control" aria-label="Amount (to the nearest dollar)"
          name="precioMes" placeholder="precioxMes"  value ="<%= locals.old && old.Mes%>">
        <span class="input-group-text">.00</span>
      </div>
      <div class="mb-3">
        <select class="form-select" name='ciudad' id="ciudad">
          <option>Ciudad</option>
          <option>Córdoba</option>
          <option>Buenos Aires</option>
          <option>Rosario</option>
          <option>Mendoza Capital</option>
        </select>
      </div>

      <div class='registro boton'>
        <button type="submit" class="btn">Guardar articulo</button>
      </div>
    </form>





  </main>




  <%- include('../parcials/footer') %>


    </body>

    </html>