<!-------------------------------------------------INCLUYENDO HEAD Y HEADER------------------------------>

<%- include('../parcials/head') %>

  <main>

    <form class='formulario registro formulario-producto' action="/product/edit/<%=vehicle.id%>?_method=PUT"
      enctype="multipart/form-data" method="POST">

      <% if (locals && locals.errors) { %>
        <%for(i of errors) { %>
          <p class = 'error'> <%=i.msg %>  </p> 
        <% } %>
      <% } %>

      <div class="titulo-crear">
        <h1>EDITAR PRODUCTO</h1>
      </div>
      <div class="mb-3">
        <input type="text" class="form-control" name="name" id="name" value="<%if(locals.old && old.name) { %> <%=old.name%> <% } else { %> <%=vehicle.name%> <%}%>">
      </div>

      <div class="mb-3">
        <input type="text" class="form-control" name="plate_number" id="plate_number" placeholder="Numero de placa" value="<%if(locals.old && old.plate_number) { %> <%=old.plate_number%> <% } else { %> <%=vehicle.plate_number%> <%}%>">
      </div>


      <div class="mb-3">
        <select class="form-select" name="brands" id="brands">
          <option>Marca del vehiculo</option>
          <%for(i of brands) { %> 
          <option value="<%=i.id%>" <%if((locals.old && old.brands == i.name) || (vehicle.brand.name = i.name)) { %>
              selected 
          <%}%>><%=i.name%></option>
          <%} %> 
        </select>
      </div>


      <div class="mb-3">
        <select class="form-select" name="category" id="category">
          <option selected>Categoria de vehiculo</option>
          <%for(i of categories) { %> 
          <option value = '<%=i.id%>'  <%if((locals.old && old.categoria == i.name) ||(vehicle.category.name == i.name))  { %>
              selected 
          <%}%>><%=i.name%></option>
          <%} %> 
        </select>
      </div>

      <div class="mb-3">
        <label for="image" class="form-label">Remplazar imagenes:</label>
        <input class="form-control" type="file" name="imagen" id="imagen">
        <% if(typeof error !='undefined' ) { %>
          <p class='error'>
            <%=error%>
          </p>
          <% } %>
      </div>


      <div class="input-group mb-3">
        <span class="input-group-text"></span>
        <input type="number" min="4" max="50" step="1" class="form-control" aria-label="Amount (to the nearest dollar)" id="seat_number" name="seat_number" placeholder="number of seats"  value ="<%if(locals.old && old.seat_number) { %> <%=old.seat_number%> <% } else { %> <%=vehicle.seat_number%> <%}%>">
        <span class="input-group-text"></span>
      </div>


      <div class="mb-3">
        <select class="form-select" name="fuel" id="fuel">
          <option selected>Tipo de combustible</option>
          <%for(i of fuels) { %> 
          <option value="<%=i.id %>" <%if((locals.old && old.fuel == i.name) ||(vehicle.fuel.name == i.name))  { %>
              selected 
          <%}%>><%=i.name%></option>
          <%} %> 
        </select>
      </div>

      <div class="mb-3">
        <div class="form-check form-check-inline">
          <label for="transmission">Caja de cambio</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="transmission" id="transmission" value="0" <%if(locals.old && old.transmission == '0') { %> checked <% }%>>
          <label class="form-check-label" for="transmission">Manual</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="transmission" id="transmission" value="1" <%if(locals.old && old.transmission == '1') { %> checked <% }%>>
          <label class="form-check-label" for="transmission">Automatico</label>
        </div>
      </div>


      <div class="mb-3">
        <label for="features">Características</label> <br>

        <%for(i of features) { %> 

        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="<%=i.id%>" id="features" name ='features' <%if((locals.old && old.features &&  (old.features.indexOf(i.name) != -1 || old.features == i.name ))) { %> checked <% }%>>
            <label class="form-check-label" for="flexCheckDefault">
              <%=i.name%> 
            </label>
        </div>

        <% } %> 

      </div>


      <div class="input-group mb-3">
        <span class="input-group-text">$</span>
        <input type="number" step="0.01" class="form-control" aria-label="Amount (to the nearest dollar)" name="pricexday" placeholder="precioxDia"  value ="<%= locals.old && old.pricexday%>">
        <span class="input-group-text">.00</span>
      </div>
      
    
      <div class="mb-3">
        <select class="form-select" name='city' id="city">
          <option>Ciudad</option>
          <%for(i of cities) { %>
          <option value="<%=i.id %>" <%if(locals.old && old.city == i.name) { %> selected <% }%>><%=i.name%> </option>
          <%}%> 
        </select>
      </div>

      <div class="mb-3">
        <label for="description">Descripcion del producto</label>
        <textarea class="form-control" name="description" id="description" rows="3"> <%= locals.old && old.description %> </textarea>
      </div>

      <div class='registro boton'>
        <button type="submit" class="btn">Guardar articulo</button>
      </div>
    </form>





  </main>


  <!-------------------------------------------------INCLUYENDO FOOTER------------------------------>

  <%- include('../parcials/footer') %>


    </body>

</html>