<!-------------------------------------------------INCLUYENDO HEAD Y HEADER------------------------------>

<%- include('../parcials/head')  %>

  <main>

    <form class='formulario registro formulario-producto' action= "/product/listing/<%=producto.id%>?_method=PUT" enctype="multipart/form-data" method="POST">
      <div class="titulo-crear">
        <h1>EDITAR PRODUCTO</h1>
      </div>
      <div class="mb-3">
        <input type="text" class="form-control" name="nombre" id="nombre" value="<%=producto.nombre%>">
      </div>
      <div class="mb-3">
        <input type="text" class="form-control" name = "marca"  id="marca" value="<%=producto.marca%>">
      </div>
      <div class="mb-3">
        <select class="form-select" name="categoria" id="categoria">
          <option selected>Categoria de vehiculo</option>
          <option>Compactos</option>
          <option>Medianos</option>
          <option>Premium</option>
          <option>Especiales</option>
        </select>
      </div>
      <div class="mb-3">
        <label for="image" class="form-label">Remplazar imagenes:</label>
        <input class="form-control" type="file" name = "imagen" id="imagen" multiple>
      </div>
      <div class="mb-3">
        <select class="form-select" name="cantidadAsientos" id="cantidadAsientos">
          <option>Cantidad de asientos</option>
          <option>Cuatro</option>
          <option>Cinco</option>
          <option>Seis</option>
          <option>Siete</option>
          <option>Ocho</option>
          <option>Nueve</option>
        </select>
      </div>
      <div class="mb-3">
        <select class="form-select" name="combustible" id="combustible">
          <option>Tipo de combustible</option>
          <option>Nafta</option>
          <option>Gasoil</option>
          <option>GNC</option>
          <option>Electrico</option>
        </select>
      </div>
      <div class="mb-3">
        <div class="form-check form-check-inline">
          <label for="cajaDeCambio">Caja de cambio</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="cajaDeCambio"  id="cajaDeCambio" value="Manual" <%if(producto.cajaDeCambio && producto.cajaDeCambio == 'Manual') { %> checked  <%}%>>
          <label class="form-check-label" for="cajaDeCambio">Manual</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="cajaDeCambio" id="cajaDeCambio" value="Automatico" <%if(producto.cajaDeCambio && producto.cajaDeCambio == 'Automatico') { %> checked  <%}%>>
          <label class="form-check-label" for="cajaDeCambio">Automático</label>
        </div>
      </div>
      <div class="mb-3">
        <div class="form-check form-check-inline">
          <label for="airbag">Airbag</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="airbag" id="airbag" value="S"  <%if(producto.airbag && producto.airbag == 'S') { %> checked  <%}%>>
          <label class="form-check-label" for="inlineRadio1">Si</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="airbag" id="airbag" value="N" <%if(producto.airbag && producto.airbag == 'N') { %> checked  <%}%>>
          <label class="form-check-label" for="inlineRadio2">No</label>
        </div>
      </div>
      <div class="mb-3">
        <label for="adicionales">Adicionales</label> <br>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="AM/FM Stereo con CD" <%if(producto.adicionales && producto.adicionales.indexOf('AM/FM Stereo con CD') != -1) { %> checked  <%}%> id="adicionales" name = 'adicionales'>
          <label class="form-check-label" for="flexCheckDefault">
            AM/FM Stereo con CD
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="Bluetooth" <%if(producto.adicionales && producto.adicionales.indexOf('Bluetooth') != -1) { %> checked  <%}%> id="adicionales" name = 'adicionales'>
            Bluetooth
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="Reproductor MP3" <%if( producto.adicionales && producto.adicionales.indexOf('Reproductor MP3') != -1) { %> checked  <%}%> id="adicionales" name = 'adicionales'>
            Reproductor MP3
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="Sistema de frenos ABS" <%if(producto.adicionales && producto.adicionales.indexOf('Sistema de frenos ABS') != -1) { %> checked  <%}%> id="adicionales" name = 'adicionales'>
            Sistema de frenos ABS
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="Doble Airbag" <%if(producto.adicionales && producto.adicionales.indexOf('Doble Airbag') != -1) { %> checked  <%}%> id="adicionales" name="adicionales">
            Doble Airbag
          </label>
        </div>
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text">$</span>
        <input type="number" step="0.01" class="form-control" aria-label="Amount (to the nearest dollar)" name = "precioDia" value="<%=producto.precioDia%>">
        <span class="input-group-text">.00</span>
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text">$</span>
        <input type="number" step="0.01" class="form-control" aria-label="Amount (to the nearest dollar)" name = "precioSemana" value="<%=producto.precioSemana%>">
        <span class="input-group-text">.00</span>
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text">$</span>
        <input type="number" step="0.01" class="form-control" aria-label="Amount (to the nearest dollar)" name = "precioMes" value="<%=producto.precioMes%>">
        <span class="input-group-text">.00</span>
      </div>
      <div class="mb-3">
        <select class="form-select" name = 'ciudad' id="ciudad">
          <option>Ciudad</option>
          <option>Córdoba</option>
          <option>Buenos Aires</option>
          <option>Rosario</option>
          <option>Mendoza Capital</option>
        </select>
      </div>

      <div class='registro boton'>
        <button type="submit" class="btn">Guardar modificaciones</button>
      </div>
    </form>





  </main>


  <!-------------------------------------------------INCLUYENDO FOOTER------------------------------>

  <%- include('../parcials/footer') %> 


</body>

</html>