<!-------------------------------------------------INCLUYENDO HEAD Y HEADER------------------------------>

<%- include('../parcials/head') %>


  <div class="filtro">
    <div>
      <div class="container">
        <h1><%=vehicle.name%></h1>
      </div>
    </div>
  </div>

  <main>
    <div class="dos-forms">
      <form action='/product/formFilter/<%=vehicle.id%> ' method="get" class='formulario registro busqueda tamanio'>
        <div>
          <h3 class='titulo-mobile'>ALQUILA TU AUTO</h3>
          <h4 class='titulo'>BUSCAR DISPONIBILIDAD</h4>
        </div>
        <ul id="errors"> 
        </ul>
  
        <div class='alinear'>
          <div class="mb-1 ancho-hijos">
            <select class="form-select pickup_city" name="pickup_city" id="pickup_city" aria-label="Default select example">
              <option>Ciudad retiro</option>
              <%for(i of cities) { %>
                <option class="pickup_city" value="<%=i.id%>">
                  <%=i.name%>
                </option>
                <% } %>
            </select>
          </div>
          <div class="mb-1 ancho-hijos">
            <select class="form-select dropoff_city" name="dropoff_city" id='dropoff_city' aria-label="Default select example">
              <option>Ciudad devolución</option>
              <%for(i of cities) { %>
                <option value="<%=i.id%>">
                  <%=i.name%>
                </option>
                <%}%>
            </select>
          </div>
        </div>
  
  
        <div class='alinear'>
  
          <div class="mb-1 ancho-hijos">
            <label for="pickup_date" class='blanco'>Fecha de retiro</label>
            <input type="date" min="<%=pickup_minDate%>" class="form-control pickup_date" name='pickup_date'>
          </div>
          <div class="mb-1 ancho-hijos">
            <label for="pickup_time" class='blanco'>Hora de retiro</label>
            <input type="time" min="10:00" max="18:00" class="form-control fechas pickup_time" id="pickup_time" name="pickup_time">
          </div>
        </div>
  
  
        <div class='alinear'>
          <div class="mb-1 ancho-hijos">
            <label for="dropoff_date" class='blanco'>Fecha de devolución</label>
            <input type="date" class="form-control dropoff_date" name="dropoff_date">
          </div>
          <div class="mb-1 ancho-hijos">
            <label for="dropoff_time" class='blanco'>Hora de devolucion</label>
            <input type="time" min="10:00" max="18:00" class="form-control fechas dropoff_time" id="dropoff_time" name="dropoff_time">
          </div>
        </div>
  
        <div class='alinear'>
          
          <div class="mb-1 ancho-hijos">
            <input type="text" class="form-control" name="promo_code" id="promo_code" placeholder="Codigo promocional"
              aria-label="Username" aria-describedby="basic-addon1">
          </div>
  
  
        </div>
  
  
        <div class='registro boton'>
          <button type="submit" class="btn">Buscar</button>
        </div>
      </form>

    </div>







    <div class='lista-productos'>

      <div class="container grid item">
        <div class="row">
          <div class='col-md border-end'>
            <div class="col-sm border-bottom">
              <img src="<%=vehicle.picture%>" alt="">
            </div>
            <!-- <div class="col-sm">
              
            </div> -->
          </div>
          <!-- <div class="col-md reserva-derecha">
            <div>
              $%= vehicle.pricexday%>/dia
            </div>
            <div class="escondido">

              


            </div>
            <div>
              
            </div>

          </div> -->

        </div>
        <div class="row">
          <p>
            <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#detalle"
              aria-expanded="false" aria-controls="multiCollapseExample1">DETALLE DEL AUTO</button>
            <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#caracteristicas"
              aria-expanded="false" aria-controls="multiCollapseExample2">CARACTERISTICAS</button>
            <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#prestaciones"
              aria-expanded="false" aria-controls="multiCollapseExample3">ADICIONALES</button>
          </p>
          <div class="row">
            <div class="col-12">
              <div class="collapse multi-collapse" id="detalle">
                <div class="card vehicle card-body">
                  <%=vehicle.description%>
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="collapse multi-collapse" id="caracteristicas">
                <div class="card vehicle card-body">
                  <ul>
                    CARACTERISTICAS
                    <li><i class="fas fa-check-circle"></i>
                      <%= vehicle.seat_number%> asientos
                    </li>
                    <li><i class="fas fa-check-circle"></i>
                      <%if(vehicle.transmission=1) { %> automático <% } else { %> manual <%}%>
                    </li>
                    <li><i class="fas fa-check-circle"></i>
                      <%=vehicle.fuel.name%>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="collapse multi-collapse" id="prestaciones">
                <div class="card vehicle card-body">
                  <ul>
                    ADICIONALES
                    <%if(vehicle.features !=null) %>
                      <%for(j of vehicle.features) {%>
                        <li>
                          <%=j.name%>
                        </li>
                        <%}%>
                          <li>kilometraje <%=vehicle.mileage%>
                          </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>


  </main>

  <script src="/js/formulario_style.js"></script>


  <!-------------------------------------------------INCLUYENDO FOOTER------------------------------>

  <%- include('../parcials/footer') %>