<!-------------------------------------------------INCLUYENDO HEAD Y HEADER------------------------------>

<%- include('../parcials/head') %>


  <h1 class="titulo-lista">LISTA DE PRODUCTOS</h1>

  <div class='lista-productos listado'>

    <% for(let i of vehicles) { %>
   
      <div class="container grid item">
        <div class="row">
          <div class='col-md border-end'>
            <div class="col-sm border-bottom">
              <h3><%= i.name%></h3>
              <img src="/img/img-autos/<%=i.picture%>" alt="">
            </div>
            <div class="col-sm">
              <ul>
                CARACTERISTICAS 
                <li><i class="fas fa-check-circle"></i><%= i.seat_number%> asientos</li>
                <li><i class="fas fa-check-circle"></i><%if(i.transmission = 1) { %> automático <% } else { %> manual <%}%></li>
                <li><i class="fas fa-check-circle"></i><%=i.fuel.name%></li>
                 
              </ul>
            </div>
          </div>
          <div class="col-md reserva-derecha">
            <div>
              $<%= i.pricexday%>/dia
            </div>
            <div class="escondido">
              <%if(i.features != null) %> 
              <ul>
                ADICIONALES
                <%for(j of i.features) {%>  
                <li><%=j.name%></li>
              </ul>
              <%}%> 

            </div>
            <div>
              <button type="submit" class="btn reserva"><a href="/product/edit/<%=i.id%> " class="btn">Editar</a></button>
            </div>
            <div>
              <form  action="/product/delete/<%=i.id%>?_method=DELETE" method="POST">
                <button class="eliminar presupuesto" type="submit">Eliminar</button>  
              </form>
              
            </div>

          </div>

        </div>

      </div>

      <% } %>





  </div>


  </main>



  <!-------------------------------------------------INCLUYENDO FOOTER------------------------------>

  <%- include('../parcials/footer') %>