<!-------------------------------------------------INCLUYENDO HEAD Y HEADER------------------------------>

<%- include('parcials/head') %>

  <section class='imagen-flia'>

    <!--------------------formulario para reserva de autos-------------------------------->

    <form action='product/formFilter' method="get" class='formulario formulario-register registro busqueda'>
      <div>
        <h3 class='titulo-mobile'>ALQUILA TU AUTO</h3>
        <h4 class='titulo'>COMIENZA TU AVENTURA</h4>
      </div>

      <div class='alinear'>
        <div class="mb-1 ancho-hijos">
          <select class="form-select" name="pickup_city" id="pickup_city" aria-label="Default select example">
            <option selected>Ciudad retiro</option>
            <%for(i of cities) { %>
              <option value ="<%=i.id%>">
                <%=i.name%>
              </option>
              <% } %>
          </select>
        </div>
        <div class="mb-1 ancho-hijos">
          <select class="form-select" name = "dropoff_city" id = 'dropoff_city' aria-label="Default select example">
            <option selected>Ciudad devolución</option>
            <%for(i of cities) { %>
              <option value="<%=i.id%>">
                <%=i.name%>
              </option>
              <%}%>
          </select>
        </div>
      </div>


      <div class='alinear'>
        <div class="mb-1 ancho-hijos">
          <label for="pickup_date" min = "<%=Date.now()%> " class='blanco'>Fecha de recogida</label>
          <input type="date" class="form-control" id="pickup_date" name="pickup_date">
        </div>
        <div class="mb-1 ancho-hijos">
          <label for="pickup_time" class='blanco'>Hora de recogida</label>
          <input type="time" min="10:00" max="18:00" class="form-control fechas" id="pickup_date" name="pickup_date">
        </div>
      </div>


      <div class='alinear'>
        <div class="mb-1 ancho-hijos">
          <label for="dropoff_date" class='blanco'>Fecha de devolución</label>
          <input type="date" class="form-control fechas" id="dropoff_date" name="dropoff_date">
        </div>
        <div class="mb-1 ancho-hijos">
          <label for="dropoff_time" class='blanco'>Hora de devolucion</label>
          <input type="time"  min="10:00" max="18:00" class="form-control fechas" id="dropoff_date" name="dropoff_date">
        </div>
      </div>

      <div class='alinear'>
        <div class="mb-1 ancho-hijos">
          <select class="form-select" name = "id_category" id = 'id_category' aria-label="Default select example">
            <option selected>Categoría</option>
            <%for(i of categories) { %>
              <option value="<%=i.id%>">
                <%=i.name%>
              </option>
              <%}%>
          </select>
        </div>
        <div class="mb-1 ancho-hijos">
          <input type="text" placeholder="Codigo promocional">
        </div>


      </div>


      <div class='registro boton'>
        <button type="submit" class="btn">Buscar</button>
      </div>
    </form>


  </section>

  <section class='calesita'>

    

    <% if(locals.loggued==false) { %>
      <h1 class="separador">CONOCE NUESTRA FLOTA</h1>

      <!--contenido de carrusell vista tamanio grande-->

      <div id="carrousel-lg" class="carousel slide d-none d-lg-block" data-bs-ride="carousel">

        <div class="carousel-inner">

          <div class="carousel-item active">
            <div class="row" style= "text-align:center;">
              <h1>
                <%=categories[0].name%>
              </h1>
              <%let contador=0; %>
                <%for(i of vehicles) { %>
                  <%if(i.category.name==categories[0].name) { %>
                    <% contador++%>
                      <div class="col-4">
                        <div class="card" style="width: 100%">
                          <h4>
                            <%=i.name%>
                          </h4>
                          <img src="img/img-autos/<%=i.picture%>" class="d-block w-100" alt="propaganda autos">
                          <div class="card-body">
                            <p>
                              <%=i.description%>
                            </p>
                            
                            <a href="/product/shopping-cart/<%=i.id%>" class="btn">Reservar</a>
                          </div>
                        </div>
                      </div>
                      <%} if(contador==3) { 
                        break; 
                      } 
                  } %>

            </div>
          </div>


          <%for(let i = 1;i < categories.length;i++) { %>

            <div class="carousel-item">
              <div class="row" style="text-align: center;">
                <h1>
                  <%=categories[i].name%>
                </h1>
                <%let suma=0; %>
                  <%for(j of vehicles) { %>
                    <%if(j.category.name==categories[i].name) { %>
                      <% suma++%>
                        <div class="col-4">
                          <div class="card" style="width: 100%">
                            <h4>
                              <%=j.name%>
                            </h4>
                            <img src="img/img-autos/<%=j.picture%>" class="d-block w-100" alt="propaganda autos">
                            <div class="card-body">
                              <p>
                                <%=j.description%>
                              </p>
                              <a href="/product/shopping-cart/<%=j.id%>" class="btn">Reservar</a>
                            </div>
                          </div>
                        </div>
                      <%} if(suma==3) { break; 
                      } 
                    } %>

              </div>
              
              
            </div>
            <%}%>

        </div>

        <button class="carousel-control-prev slide" type="button" data-bs-target="#carrousel-lg"
          data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next slide" type="button" data-bs-target="#carrousel-lg"
          data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

        <!--CONTENDIO CARROUSEL MOBILE AND MD  -->


        <div id="carrousel-mobile" class="carousel slide d-lg-none" data-bs-ride="carousel">

          <div class="carousel-inner">
  
            <div class="carousel-item active">
              <div class="row" style= "text-align:center;">
                <h1>
                  <%=categories[0].name%>
                </h1>
                <%let contador_mobile=0; %>
                  <%for(i of vehicles) { %>
                    <%if(i.category.name==categories[0].name) { %>
                      <% contador_mobile++%>
                        <div class="col-12">
                          <div class="card" style="width: 100%">
                            <h4>
                              <%=i.name%>
                            </h4>
                            <img src="img/img-autos/<%=i.picture%>" class="d-block w-100" alt="propaganda autos">
                            <div class="card-body">
                              <p>
                                <%=i.description%>
                              </p>
                              
                              <a href="/product/shopping-cart/<%=i.id%>" class="btn">Reservar</a>
                            </div>
                          </div>
                        </div>
                        <%} if(contador_mobile==1) { 
                          break; 
                        } 
                    } %>
  
              </div>
            </div>
  
  
            <%for(let i = 1;i < categories.length;i++) { %>
  
              <div class="carousel-item">
                <div class="row" style="text-align: center;">
                  <h1>
                    <%=categories[i].name%>
                  </h1>
                  <%let suma_mobile=0; %>
                    <%for(j of vehicles) { %>
                      <%if(j.category.name==categories[i].name) { %>
                        <% suma_mobile++%>
                          <div class="col-12">
                            <div class="card" style="width: 100%">
                              <h4>
                                <%=j.name%>
                              </h4>
                              <img src="img/img-autos/<%=j.picture%>" class="d-block w-100" alt="propaganda autos">
                              <div class="card-body">
                                <p>
                                  <%=j.description%>
                                </p>
                                <a href="/product/shopping-cart/<%=j.id%>" class="btn">Reservar</a>
                              </div>
                            </div>
                          </div>
                        <%} if(suma_mobile==1) { break; 
                        } 
                      } %>
  
                </div>
                
                
              </div>
              <%}%>
  
          </div>
  
          <button class="carousel-control-prev slide" type="button" data-bs-target="#carrousel-mobile"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next slide" type="button" data-bs-target="#carrousel-mobile"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>


    <% } else { %>
        <h1 class="separador">SELECCIONADOS PARA VOS</h1>

        <section class='ciudades'>

          <div class='tarjeta-ciudades'>
            <%for(let i=0; i<4;i++) {%>
              <div class="card">
                <h4>
                  <%= vehicles[i].name%>
                </h4>
                <img src="img/img-autos/<%=vehicles[i].picture%> " class="d-block w-100" alt="propaganda autos">
                <div class="card-body">
                  <p>
                    <%= vehicles[i].description%>
                  </p>
                  <a href="/product/shopping-cart/<%=vehicles[i].id%>" class="btn">Reservar</a>
                </div>
              </div>
              <%}%>
          </div>

        </section>

        <% } %>


  </section>



  <section class='ciudades'>
    <% if(locals.loggued==true) { %>
      <h1>DESTINOS A TU MEDIDA</h1>
      <% } else { %>
        <h1>PRINCIPALES DESTINOS</h1>
        <% } %>

          <div class='tarjeta-ciudades'>

            <%for(let i=0;i <4; i++) { %>
              <div class="card point">
                <a href="/product/cities/<%=cities[i].id%>" class="">
                  <img src="img/img-cities/<%=cities[i].picture%> " class="card-img-top img-fluid" alt="...">
                  <div class="card-body">
                  </div>
                  <%=cities[i].name%>
                </a>
              </div>
              <% } %>
          </div>

  </section>

  <% if (locals.loggued==false) { %>
    <section>
      <!--Contenido publicidad y ofertas-->

      <div class='publicidad-ofertas'>
        <h5 class="publi-oferta">¡Obten un 10% de descuento en tu primer alquiler!</h5>
        <p class="desc-oferta">Registrate y recibe ofertas, descuentos y más. </p>
        <a class="ingresa-correo link-white" href="/user/register">ingresa con tu correo electrónico</a>
      </div>

    </section>

    <% } %>


      <!-------------------------------------------------INCLUYENDO FOOTER------------------------------>

      <%- include('parcials/footer') %>