<!-------------------------------------------------INCLUYENDO HEAD Y HEADER------------------------------>

<%- include('../parcials/head')  %>


    <main class="main-register">
    <form class='formulario registro formulario-register' action="/user/register" method="post">

      <% if (locals && locals.errors) { %>
        <%for(i of errors) { %>
          <p class = 'error'> <%=i.msg %>  </p> 
        <% } %>
      <% } %>
      <div class="titulo-registro">
        <h5>Registrate</h5>
      </div>
      <div class='alinear'>
        <div class="mb-3">
          <input type="text" class="form-control" name = 'nombre' id="nombre" placeholder="Nombre"  value ="<%= locals.old && old.nombre %>">
        </div>
        <div class="mb-3">
          <input type="text" class="form-control" name = 'apellido' id="apellido" placeholder="Apellido"  value ="<%= locals.old && old.apellido%>">
        </div>
      </div>

      <div class="mb-3">
        <input class="form-control" name = 'email' id="email" aria-describedby="emailHelp"
          placeholder="Correo Electrónico"  value ="<%= locals.old && old.email%>">
        <div id="emailHelp" class="form-text">Nunca compartiremos tu correo electrónico con alguien más</div>
      </div>
      <div class='alinear'>
        <div class="mb-3">
          <input type="password" class="form-control" name = 'password' id="password" placeholder="Contraseña" value ="<%= locals.old && old.password && old.password != ''%>">
        </div>
        <div class="mb-3">
          <input type="password" class="form-control" name = 'repeatpassword' id="repeatpassword" placeholder="Repetir Contraseña" value ="<%= locals.old && old.repeatpassword && old.repeatpassword != ''%>">
        </div>
      </div>
      <div class='registro boton'>
        <button type="submit" class="btn">Enviar</button>
      </div>
    </form>
  </main>



<!-------------------------------------------------INCLUYENDO FOOTER------------------------------>

<%- include('../parcials/footer') %> 