<!-------------------------------------------------INCLUYENDO HEAD Y HEADER------------------------------>

<%- include('../parcials/head') %>


  <main class="main-register">
    <form class='formulario registro formulario-register' action="/user/register" method="POST"
      enctype="multipart/form-data">
      <ul id="errors_register"> 
      </ul>
      <% if (locals && locals.registrado) { %>
        <p class='error'>
          <%=registrado%>
        </p>
        <% } %>
          <div class="titulo-registro">
            <h5>Registrate</h5>
          </div>
          <div class='alinear'>
            <div class="mb-3">
              <input type="text" class="form-control" name='name' id="name" placeholder="Nombre"
                value="<%= locals.old && old.name%>">
              <%if(locals && locals.errors) { for(i of locals.errors) { if(i.includes('nombre')) { %>
                <p class='error'>
              <%=i%>
                </p>
                <% } } } %>
            </div>
            <div class="mb-3">
              <input type="text" class="form-control" name='last_name' id="last_name" placeholder="Apellido"
                value="<%= locals.old && old.last_name%>">
              <% if (locals && locals.errors) { for(i of locals.errors) { if(i.includes('apellido')) { %>
                <p class='error'>
                  <%=i%>
                </p>
                <% } } } %>
            </div>

          </div>

          <div class="mb-3">
            <input class="form-control" name='email' id="email" aria-describedby="emailHelp"
              placeholder="Correo Electrónico" value="<%= locals.old && old.email%>">
            <% if (locals && locals.errors) { for(i of locals.errors) { if(i.includes('email')) { %>
              <p class='error'>
                <%=i%>
              </p>
              <% } } } %>
                <div id="emailHelp" class="form-text">Nunca compartiremos tu correo electrónico con alguien más</div>
          </div>
          <div class="mb-3">
            <label for="imagen" class="form-label">Cargar imagenes de perfil:</label>
            <input class="form-control" type="file" name="imagen" id="imagen">
            <% if(typeof error !='undefined' ) { %>
              <p class='error'>
                <%=error%>
              </p>
              <% } %>
          </div>

          <div class='alinear'>
            <div class="mb-3">
              <input type="password" class="form-control" name='password' id="password" placeholder="Contraseña"
                value="<%= locals.old && old.password%>" enctype="multipart/form-data">
              <% if (locals && locals.errors) { for(i of locals.errors) { if(i.includes('clave') && ! i.includes('coinciden') ) { %>
                <p class='error'>
                  <%=i%>
                </p>
                <% } } } %>
                <% if (locals && locals.errors) { for(i of locals.errors) { if(i.includes('coinciden')) { %>
                  <p class='error'>
                    <%=i%>
                  </p>
                  <% } } } %>
            </div>
            <div class="mb-3">
              <input type="password" class="form-control" name='repeatpassword' id="repeatpassword"
                placeholder="Repetir Contraseña" value="<%= locals.old && old.repeatpassword%>">
            </div>
          </div>
          <div class='registro boton'>
            <button type="submit" class="btn">Enviar</button>
          </div>
    </form>
  </main>

  <script src="/js/register_validator.js"></script>

  <!-------------------------------------------------INCLUYENDO FOOTER------------------------------>

  <%- include('../parcials/footer') %>